@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html,body{
    height: 100%;
    width: 100%;
}
  
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(231, 228, 228);
}

#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-1{
    margin: 10px 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#nav-1 h1{
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
}

#nav-1 i{
    color: black;
    margin: 10px 10px;
    font-size: 20px;
    border: 2px solid black;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

#nav-3{
    margin: 10px 20px;
    font-size: 12px;
}

#nav-3 button{
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

#nav-3 #si{
    background-color: rgb(231, 171, 93);
    color: white;
    border-radius: none;
}

#home{
    height: 470px;
    width: 100%;
    color: black;
}

#home h1{
    font-size: 180px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#card img{
    height: 350px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    object-fit: cover;
}

#card1{
    transform: translate(-50%,-50%) rotate(-30deg);
}

#card2{
    transform: translate(-50%,-50%) rotate(-20deg);
}

#card3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#card4{
    transform: translate(-50%, -50%);
}

#home h2{
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-weight: 200;
}

#social{
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 25px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}
@media (max-width:750px){


    #nav-1{
        margin: 5px 25px;
        font-size: 10px;
        display: flex;
        align-items: center;
    }

    #nav-1 h1{
        border: 2px solid black;
        padding: 5px;
        border-radius: 20px;
    }
    
    #nav-1 i{
        color: black;
        margin: 10px 10px;
        font-size: 15px;
        border: 2px solid black;
        padding: 8px;
        border-radius: 25px;
        cursor: pointer;
    }

    #nav-2{
        margin: 5px 25px;
    }

    #nav-2 h1{
        font-weight: 600;
        font-size: 30px;
    }

    
    #nav-3{
       display: none;
    }
    
    
#home{
    width: 100px;
    color: black;
}

#home h1{
    font-size: 55px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#card img{
    height: 300px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    object-fit: cover;
}


}